

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.labels{
    font-family:  "Playfair Display", serif;
}
.links {
    text-decoration: none;
    color: inherit;
    font-size: 15px;
    color : #db6300f6;
}