*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contaner{
    border: 2px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 10px;
}